{% extends 'base.html.twig' %}

{% block title %}Overview - SF Address Book
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-10">
			<h1>Overview - Address Book</h1>
		</div>
		<div class="col-2">
			<a href="{{url('address_list')}}" class="float-end">Home</a>
			<a href="{{url('add_address')}}" class="btn btn-primary float-end" style="margin-right:10px">Add New</a>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <img src="{{ asset('all-users.jpg') }}" class="card-img-top" alt="all users">
				<div class="card-header">Total</div>
				<div class="card-body">
					<h5 class="card-title">{{allCount}}</h5>
					<p class="card-text">Total number of addresses in the address book.</p>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <img src="{{ asset('with-picture.png') }}" class="card-img-top" alt="with picture">
				<div class="card-header">Total with Picture</div>
				<div class="card-body">
					<h5 class="card-title">{{allCount-noPictureCount}}</h5>
					<p class="card-text">Total number of addresses with picture in the address book.</p>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
             <img src="{{ asset('uploads/photo/blank_photo.jpg') }}" class="card-img-top" alt="no picture">
				<div class="card-header">Total without Picture</div>
				<div class="card-body">
					<h5 class="card-title">{{allCount-noPictureCount}}</h5>
					<p class="card-text">Total number of addresses without picture in the address book.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{% if ageCount is not empty %}
				<table class="table table-striped " id='address_table'>
					<thead>
						<tr>
							<th>Age Range</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{% for range,count in ageCount %}
							<tr>
								<td>
									{{ range }}
									</td>
								</td>
								<td>{{ count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h2>Oh Snap ! :( there are no data in database</h2>
			{% endif %}
		</div>

		<div class="col-6">
			{% if countryCount is not empty %}
				<table class="table table-striped " id='address_table'>
					<thead>
						<tr>
							<th>Country</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{% for row in countryCount %}
							<tr>
								<td>{{ row.country }}</td>
								<td>{{ row.n }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h2>Oh Snap ! :( there are no data in database</h2>
			{% endif %}
		</div>
	</div>
{% endblock %}
